.logo-and-search-bar{
   margin-top: 10vmax ;
   margin-left: 42vmax;
   
    
    
}
.logo{
    
    
    
}
.search-bar{
    
}
.search-button{
    
}

.navbar-header{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-footer{
    list-style: none;
    margin-top: 20vmax;
    overflow: hidden;
}
#header-li{
    float: right;
    display: block;
    padding: 8px;
    
}

}
#footer-li{
    float: left;
    display: block;
    padding: 8px;
    max-width: 20px;
}
li a:hover {
    background-color: #dddddd;
}